
<div class="container">
  <div class="row">
    <div class="col">
      <img src="./img/panda.jpeg" alt="Anton Effendi" class="img-thumbnail rounded-circle" width="150px" />
      <h1 class="display-4">Anton Effendi</div>
      <p class="lead">
        Ruby on Rails developer
      </p>
    </div>
  </div>
</div>
